{% extends "base.html" %}
{% load i18n staticfiles %}
{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}
{% block top %}

{% endblock %}

{% block main %}
<section class="no-margin" id="main-slider">
    <div class="carousel slide wet-asphalt">
        <ol class="carousel-indicators">
            <li class="" data-slide-to="0" data-target="#main-slider"></li>
            <li data-slide-to="1" data-target="#main-slider" class=""></li>
            <li data-slide-to="2" data-target="#main-slider" class="active"></li>
        </ol>
        <div class="carousel-inner">
            <!-- 全能王座椅 -->
            <div style="background-image: url(https://gdp.alicdn.com/imgextra/i4/2207849267/TB2s6RnkUhnpuFjSZFpXXcpuXXa_!!2207849267.jpg)" class="item" onclick="window.open('https://s.click.taobao.com/t?e=m%3D2%26s%3DszFrM%2FAeUg4cQipKwQzePOeEDrYVVa64LKpWJ%2Bin0XJRAdhuF14FMZ6%2F6l6VyWmAJ1gyddu7kN%2FeInjIP0UvAvqThr%2FmI0uIsYzpBchncKguq5HOV0XN8jHLDq6mOnGp7XLTceWxDQOW56dNXYJpp3EqY%2Bakgpmw&pvid=53_222.130.125.119_1607_1494859800528')">
            </div>
            <!-- 挚爱天使推车 -->
            <div style="background-image: url(https://gdp.alicdn.com/imgextra/i3/2207849267/TB2mGbKlwRkpuFjy1zeXXc.6FXa_!!2207849267.jpg)" class="item" onclick="window.open('https://s.click.taobao.com/t?e=m%3D2%26s%3DbRqrkMlSswEcQipKwQzePOeEDrYVVa64LKpWJ%2Bin0XJRAdhuF14FMQVAfT2BceNvt4hWD5k2kjPeInjIP0UvAvqThr%2FmI0uIsYzpBchncKguq5HOV0XN8jHLDq6mOnGppNavlBdm8nz9eiDEmnPMOnEqY%2Bakgpmw&pvid=53_222.130.125.119_1607_1494859800528')">>
            </div>
            <!-- 二维码 -->
            <div style="background-image: url(static/images/slider/bg1.jpg)" class="item active">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-9">
                            <div class="carousel-content centered" style="margin-top: 219px;">
                                <h2 class="animation animated-item-1">为宝妈提供优质的产品、专业的服务。<br/>专注、坚持让我们更强大！</h2>
                                <p class="animation animated-item-2">带宝宝去经历，给宝宝呵护、舒适与安全！</p>
                                <a href="#" class="btn btn-md animation animated-item-3">更多精彩</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.item-->
        </div><!--/.carousel-inner-->
    </div><!--/.carousel-->
    <a data-slide="prev" href="#main-slider" class="prev hidden-xs">
        <i class="icon-angle-left"></i>
    </a>
    <a data-slide="next" href="#main-slider" class="next hidden-xs">
        <i class="icon-angle-right"></i>
    </a>
</section>

<section class="emerald" id="services">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="media">
                    <div class="pull-left">
                        <i class="icon-heart icon-md"></i>
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">用心呵护</h3>
                        <p>吹牛逼啊吹牛逼吹牛逼啊吹牛逼吹牛逼啊吹牛逼吹牛逼啊吹牛逼</p>
                    </div>
                </div>
            </div><!--/.col-md-4-->
            <div class="col-md-4 col-sm-6">
                <div class="media">
                    <div class="pull-left">
                        <i class="icon-gift icon-md"></i>
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">精选礼物</h3>
                        <p>吹牛逼啊吹牛逼吹牛逼啊吹牛逼吹牛逼啊吹牛逼吹牛逼啊吹牛逼</p>
                    </div>
                </div>
            </div><!--/.col-md-4-->
            <div class="col-md-4 col-sm-6">
                <div class="media">
                    <div class="pull-left">
                        <i class="icon-leaf icon-md"></i>
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">茁壮成长</h3>
                        <p>吹牛逼啊吹牛逼吹牛逼啊吹牛逼吹牛逼啊吹牛逼吹牛逼啊吹牛逼</p>
                    </div>
                </div>
            </div><!--/.col-md-4-->
        </div>
    </div>
</section>

 <section id="recent-works">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h3>群主自家商品</h3>
                <p>老大说了，群里的宝妈去店里购买，一律优惠到底！</p>
                <p>儿童安全座椅、婴儿推车、3D凉席、遮阳棚、遮阳伞等</p>
                <div class="btn-group">
                    <a class="btn btn-danger" href="#scroller" data-slide="prev"><i class="icon-angle-left"></i></a>
                    <a class="btn btn-danger" href="#scroller" data-slide="next">点击展示更多</a>
                    <a class="btn btn-danger" href="#scroller" data-slide="next"><i class="icon-angle-right"></i></a>
                </div>
                <p class="gap"></p>
            </div>

            <div class="col-md-9">
                <div id="scroller" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="row">
                                <!--start row-->
                                <div class="col-xs-4">
                                    <div class="portfolio-item">
                                        <div class="item-inner">
                                            <a title="安全座椅凉席" href="https://s.click.taobao.com/t?e=m%3D2%26s%3D%2BjZp8Nae8d8cQipKwQzePOeEDrYVVa64LKpWJ%2Bin0XJRAdhuF14FMdnUUKrB30molovu%2FCElQOveInjIP0UvAvqThr%2FmI0uIsYzpBchncKguq5HOV0XN8jHLDq6mOnGpYWz8xhljuqZsiteVWfC%2BH3EqY%2Bakgpmw" rel="" target="_blank">
                                            <img class="img-responsive" src="https://img.alicdn.com/imgextra/i2/2207849267/TB2kzZUk3xlpuFjy0FoXXa.lXXa_!!2207849267.jpg" alt="">
                                            </a>
                                            <h5>
                                                座椅、餐椅、推车通用凉席
                                            </h5>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-4">
                                    <div class="portfolio-item">
                                        <div class="item-inner">
                                            <a title="推车遮阳棚" href="https://s.click.taobao.com/t?e=m%3D2%26s%3DDjfifKP3rWkcQipKwQzePOeEDrYVVa64LKpWJ%2Bin0XJRAdhuF14FMZnW9Qn6vs128sviUM61dt3eInjIP0UvAvqThr%2FmI0uIsYzpBchncKguq5HOV0XN8jHLDq6mOnGpWbZwm%2FxpruExoQvWz4xmu3EqY%2Bakgpmw" rel="" target="_blank">
                                            <img class="img-responsive" src="https://img.alicdn.com/imgextra/i3/2207849267/TB2DqnoprBmpuFjSZFuXXaG_XXa_!!2207849267.jpg" alt="">
                                            </a>
                                            <h5>
                                                推车遮阳棚 防紫外线 防嗮
                                            </h5>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-4">
                                    <div class="portfolio-item">
                                        <div class="item-inner">
                                            <a title="推车遮阳伞" href="https://s.click.taobao.com/t?e=m%3D2%26s%3Dq%2BHlAd7Bw4EcQipKwQzePOeEDrYVVa64LKpWJ%2Bin0XJRAdhuF14FMWuK0kWN6ZzKt4hWD5k2kjPeInjIP0UvAvqThr%2FmI0uIsYzpBchncKguq5HOV0XN8jHLDq6mOnGpHRcOgvPJ%2FO5q2SmG8pTX3HEqY%2Bakgpmw" rel="" target="_blank">
                                            <img class="img-responsive" src="https://img.alicdn.com/imgextra/i1/2207849267/TB2RWsDm88lpuFjy0FnXXcZyXXa_!!2207849267.jpg" alt="">
                                            </a>
                                            <h5>
                                                推车遮阳伞 时尚 大视野 防嗮
                                            </h5>
                                        </div>
                                    </div>
                                </div>

                            </div><!--/.row-->
                        </div><!--/.item-->
                        <div class="item">
                            <div class="row">

                                <div class="col-xs-4">
                                    <div class="portfolio-item">
                                        <div class="item-inner">
                                            <a title="遮阳挡" href="https://s.click.taobao.com/t?e=m%3D2%26s%3D073SJh8f5cwcQipKwQzePOeEDrYVVa64LKpWJ%2Bin0XJRAdhuF14FMbRZ%2FHcD%2FRMm5x%2BIUlGKNpXeInjIP0UvAvqThr%2FmI0uIsYzpBchncKguq5HOV0XN8jHLDq6mOnGp4wTEQei2X70do6N%2BjvQ093EqY%2Bakgpmw" rel="" target="_blank">
                                            <img class="img-responsive" src="https://img.alicdn.com/imgextra/i4/2207849267/TB2.9HcdxXkpuFjy0FiXXbUfFXa_!!2207849267.jpg" alt="">
                                            </a>
                                            <h5>
                                                遮阳挡 防嗮 防紫外线
                                            </h5>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-4">
                                    <div class="portfolio-item">
                                        <div class="item-inner">
                                            <a title="儿童益智玩具" href="https://s.click.taobao.com/t?e=m%3D2%26s%3D%2FG%2FENBIZicIcQipKwQzePOeEDrYVVa64LKpWJ%2Bin0XJRAdhuF14FMdTYME%2FFe%2FgN1aH1Hk3GeOjeInjIP0UvAvqThr%2FmI0uIsYzpBchncKguq5HOV0XN8jHLDq6mOnGp0ZZHwAdbG5F9UNtIfk1hPHEqY%2Bakgpmw" rel="" target="_blank">
                                            <img class="img-responsive" src="https://img.alicdn.com/imgextra/i1/2207849267/TB2_Ta9l90mpuFjSZPiXXbssVXa_!!2207849267.jpg" alt="">
                                            </a>
                                            <h5>
                                                儿童益智玩具 推车、婴儿床挂件
                                            </h5>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-4">
                                    <div class="portfolio-item">
                                        <div class="item-inner">
                                            <a title="婴儿推车蚊帐" href="https://s.click.taobao.com/t?e=m%3D2%26s%3DT0Y7tUzvV5IcQipKwQzePOeEDrYVVa64LKpWJ%2Bin0XJRAdhuF14FMfqUsX07OkF879%2FTFaMDK6TeInjIP0UvAvqThr%2FmI0uIsYzpBchncKguq5HOV0XN8jHLDq6mOnGpqm1vxxiEGKrDDwkv354K03EqY%2Bakgpmw" rel="" target="_blank">
                                            <img class="img-responsive" src="https://img.alicdn.com/imgextra/i4/2207849267/TB2H6w8prBmpuFjSZFuXXaG_XXa_!!2207849267.jpg" alt="">
                                            </a>
                                            <h5>
                                                婴儿推车蚊帐 防蚊虫 防紫外线
                                            </h5>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div><!--/.item-->

                        <div class="item">
                            <div class="row">

                                <div class="col-xs-4">
                                    <div class="portfolio-item">
                                        <div class="item-inner">
                                            <a title="婴儿推车" href="https://s.click.taobao.com/t?e=m%3D2%26s%3DbRqrkMlSswEcQipKwQzePOeEDrYVVa64LKpWJ%2Bin0XJRAdhuF14FMQVAfT2BceNvt4hWD5k2kjPeInjIP0UvAvqThr%2FmI0uIsYzpBchncKguq5HOV0XN8jHLDq6mOnGppNavlBdm8nz9eiDEmnPMOnEqY%2Bakgpmw&pvid=53_222.130.125.119_1607_1494859800528" rel="" target="_blank">
                                            <img class="img-responsive" src="https://img.alicdn.com/imgextra/i2/2207849267/TB2_af6hJhvOuFjSZFBXXcZgFXa_!!2207849267.jpg" alt="">
                                            </a>
                                            <h5>
                                                婴儿推车 高景观 避震
                                            </h5>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-4">
                                    <div class="portfolio-item">
                                        <div class="item-inner">
                                            <a title="儿童汽车安全座椅" href="https://s.click.taobao.com/t?e=m%3D2%26s%3DszFrM%2FAeUg4cQipKwQzePOeEDrYVVa64LKpWJ%2Bin0XJRAdhuF14FMZ6%2F6l6VyWmAJ1gyddu7kN%2FeInjIP0UvAvqThr%2FmI0uIsYzpBchncKguq5HOV0XN8jHLDq6mOnGp7XLTceWxDQOW56dNXYJpp3EqY%2Bakgpmw&pvid=53_222.130.125.119_1607_1494859800528" rel="" target="_blank">
                                            <img class="img-responsive" src="https://img.alicdn.com/imgextra/i3/2207849267/TB2FWczlNxmpuFjSZFNXXXrRXXa_!!2207849267.jpg" alt="">
                                            </a>
                                            <h5>
                                                安全座椅0-12岁 360度旋转 isofix接口
                                            </h5>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-4">
                                    <div class="portfolio-item">
                                        <div class="item-inner">
                                            <a title="妈咪包" href="https://s.click.taobao.com/t?e=m%3D2%26s%3DKUtcvrhqFEQcQipKwQzePOeEDrYVVa64LKpWJ%2Bin0XJRAdhuF14FMRyWOxtV%2FbDZlovu%2FCElQOveInjIP0UvAvqThr%2FmI0uIsYzpBchncKguq5HOV0XN8jHLDq6mOnGpltdKS%2Bf4tKpXUM%2Boh2pNDnEqY%2Bakgpmw" rel="" target="_blank">
                                            <img class="img-responsive" src="https://img.alicdn.com/imgextra/i2/2207849267/TB23vlThdhvOuFjSZFBXXcZgFXa_!!2207849267.jpg" alt="">
                                            </a>
                                            <h5>
                                                妈咪包 实用 方便
                                            </h5>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div><!--/.item-->

                    </div>
                </div>
            </div>
        </div><!--/.row-->
    </div>
</section><!--/#recent-works-->
<section id="testimonial" class="alizarin">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="center">
                    <h2>What our clients say</h2>
                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                </div>
                <div class="gap"></div>
                <div class="row">
                    <div class="col-md-6">
                        <blockquote>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                            <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
                        </blockquote>
                        <blockquote>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                            <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
                        </blockquote>
                    </div>
                    <div class="col-md-6">
                        <blockquote>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                            <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
                        </blockquote>
                        <blockquote>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                            <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--/#testimonial-->


{% endblock %}
