{% load i18n pages_tags blog_tags keyword_tags mezzanine_tags %}

<div class="footer">
    <div class="left">
        <div class="link">
            <a href="/Index/Index/index_about">关于我们</a>
            <a href="/Index/Index/index_about#page3">核心团队</a>
            <a href="/Index/Index/index_about#page4">股东背景</a>
            <a href="/Index/Index/index_about#page5">联系我们</a>
        </div>
        <div class="tel">
            <div class="item1">400-656-0927</div>
            <div class="item2">(周一至周五9:00 - 18:00)</div>
        </div>
    </div>
    <div class="right">
        <div class="li1">
            <img src="/Resource/images/footer_appdownload.png" alt="">
            <h4>APP下载二维码</h4>
        </div>
        <div class="li2">
            <img src="/Resource/images/footer_wechart_ggh.png" alt="">
            <h4>微信公众号</h4>
        </div>
    </div>
</div>
