{% load i18n pages_tags blog_tags keyword_tags mezzanine_tags %}




<div class="container">
<div class="row footer-top">
  <div class="col-sm-6 col-lg-6">
    <h4>
      嘻嘻嘻
    </h4>
    <p>本网站所列开源项目的中文版文档全部由协议发布。</p>
  </div>
  <div class="col-sm-6  col-lg-5 col-lg-offset-1">
    <div class="row about">
      <div class="col-xs-5">
        <h4>关于我们</h4>
        <ul class="list-unstyled">
          <li><a href="/about/">关于我们</a></li>
          <li><a href="#">图片展示</a></li>
        </ul>
      </div>
      <div class="col-xs-5">
        <h4>联系方式</h4>
        <ul class="list-unstyled">
          <li>微信：11111111111111</li>
          <li><a target="_blank" href="http://www.taobao.com/webww/ww.php?ver=3&touid=%E5%B0%8F%E6%89%A3%E6%89%A3%E9%B1%BC
&siteid=cntaobao&status=1&charset=utf-8"><img border="0" src="http://amos.alicdn.com/online.aw?v=2&uid=%E5%B0%8F%E6%89%A3%E6%89%A3%E9%B1%BC
&site=cntaobao&s=1&charset=utf-8" alt="点这里给我发消息" /></a></li>
        </ul>
      </div>
    </div>

  </div>
</div>

<hr>
<div class="row footer-bottom">
  <ul class="list-inline text-center">
    <li><a href="http://www.miibeian.gov.cn/" target="_blank">京ICP备11008151号</a></li><li>京公网安备11010802014853</li>
  </ul>
</div>
</div>

